<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle.Cryptography" version="2.6.2" targetFramework="net472" />
  <package id="iTextSharp.LGPLv2.Core" version="3.7.6" targetFramework="net472" />
  <package id="Magick.NET.Core" version="14.8.2" targetFramework="net472" />
  <package id="Magick.NET-Q8-AnyCPU" version="14.8.2" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.0" targetFramework="net472" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net472" />
  <package id="Pdf2Image" version="2.0.0" targetFramework="net472" />
  <package id="PDFium.Windows" version="1.0.0" targetFramework="net472" />
  <package id="PDFiumSharpV2" version="1.0.0" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.6.7" targetFramework="net472" />
  <package id="SkiaSharp" version="3.119.0" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.macOS" version="3.119.0" targetFramework="net472" />
  <package id="SkiaSharp.NativeAssets.Win32" version="3.119.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="8.0.8" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>